* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #FCFCFC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: #21222A; */
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

.heading{
    font-size: 3.5rem;
    color: #66FCF1;
    text-align: center;
}



.subheading{
    padding-top: 3rem;
    font-size: 2.5rem;
    color: #fcfcfc;
   
}

.section {
    margin-top: 8rem;
}

header {
    /* padding: 0 32px; */
    background-color: #21222A;
}

.navBar { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    /* place-content: center; */
}

.logo {
    /* width: 8rem;
    height: 8rem; */
    font-size: 2rem;
text-align: center;
padding: 2rem;
}

.logo h1{
    color: #66FCF1;

}

.logo h1:hover{
    color: #fcfcfc;
    cursor: pointer;

}

.logo img {
    width: 100%;
}

.navLinkContainer {
    /* width: 45%; */
}

.hamburger {
    /* width: 5rem;
    height: 5rem;
    border: 0.1rem solid red; */
    margin-right: 2rem;
    cursor: pointer;
    display: none;
}

.bar{
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    margin: 0.5rem auto;
    background-color: #FCFCFC;
}

.navLinks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 1.5rem;
    font-size: 2rem;
}

.navLinks :last-child {
    margin-right: 2rem;
}


.navItem {
    list-style: none;
    color: #66FCF1;
}

.navItem:hover{
    transform: scale(1.1);
}
.navLink {
    text-decoration: none;
}

.navLink:hover {
    color: #66FCF1;
}

.cta {
    padding: 1rem 2rem;
    /* border: 2px solid red; */
    border-radius: 0.7rem;
    color: #21222A;
    /* color: #FCFCFC; */
    background-color: #66FCF1;
}

.cta:hover {
    background-color: black;
}

hr {
    /* background-color: #0a0b0b; */
    border: 0.1rem solid #66FCF1;
}


main {
    /* background-color: #282D35 !important; */
    background-image: linear-gradient(rgba(0, 0, 0,0.4),rgba(0, 0, 0,0.4)),
                        url('../assets/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 10rem;
}


.home {
    min-height: 73vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:3rem;
    justify-content: space-between;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1.15;
    /* flex-wrap: wrap; */
}

.intro_heading {
    color: #fcfcfc;
    font-size: clamp(2rem, 5vw, 6rem);
    /* font-size: 6rem; */
    font-weight: 200;
}

.handwave--image {
    height: 6rem;
}

.name {
    color: #66FCF1;
    font-weight: bold;
}

.intro_heading {
    /* margin-top: 2rem; */
}

.hide{
    display: none;
}
.profession {
    font-size: 2.5rem;
    color: #c5c6c7;
    font-weight: 200;
}

.company--name {
    color: #66FCF1;
    font-weight: bold;
}

.profile_picture {
    /* width: 50rem;
    height: 50rem; */
    flex:1;
    display: grid;
    place-content: center;
}

.profile_picture img {
    width: 100%;
}


/* PROJECT SECTION */
.section_name{
    font-size: 4rem;
    color: #66FCF1;
    text-align: center;
    margin-block-end: 8rem;
}

.project_list{
    display: flex;
    flex-direction: column;
    gap:5rem
}



.project_item{
    /* min-height: 45rem; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project_item:nth-child(even) .project_description{
    flex-direction: row-reverse;
}
/* .project_list:first-child{
    margin-top: 10rem;
} */


.project_info,
.technology,
.link_button{
    font-size: 1.65rem
}

.project_title{
   
       text-align: center;
        font-size: 2.5rem;
        color: #66FCF1;
    }

.project_description{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 3rem;
    /* min-height: 40rem;
    max-height: 60rem; */
}

.project_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap:1.5rem
}
.project_info{
    
    color: #fcfcfc;
}

.technology{
    
    color: #66FCF1;
}

.link_button{
    
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 0.7rem;
    color: #21222A;
    /* font-weight: 300; */
    /* color: #FCFCFC; */
    background-color: #66FCF1;
    /* padding: 2rem; */

}

.link_button:hover{
    color: #66FCF1;
    background-color: #21222A;

}
.link_button:hover .fa-link{
    color: #66FCF1;
}

.fa-link{
    padding-right: 1rem;
    color: #21222A;
}
.project_image{
    flex: 1;
    object-fit: cover;
}
.project_img{
    max-width: 100%;
    margin-left: auto;
}
/* ABOUT SECTION */

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.about_picture {}

.about_heading {
    font-size: 3.5rem;
    color: #66FCF1;
    text-align: center;
}

.about_content {
    padding-top: 3rem;
    font-size: 2.5rem;
    color: #fcfcfc;
    max-width: 70ch;
    margin-inline: auto;
}

.contact {
    text-align: center;
    margin-block-end: 5rem;
}

.contact_heading {
    font-size: 3.5rem;
    color: #66FCF1;
}

.contact_subheading {
    font-size: 2.5rem;
}

.contact_subheading span {
    color: #66FCF1;
}

.socialmedia_icons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}

.socialmedia_icon {
    color: #66FCF1;
}

.fa-brands{
    color: #fcfcfc;
    font-size: 5rem;
}

.fa-brands:hover{
    color: #66FCF1;
    transform: scale(1.1);
}

footer .fa-brands {
    font-size: 3rem;
}

.copyrights {
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: #21222A;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    padding: 2.5rem;
}

.footer p {
    justify-content: center;
    font-size: 2rem;
}

/* media screen */

@media (max-width: 690px) {
    main {
        padding: 2rem 5rem;

    }

    .section {
        margin-top: 4rem;
    }
    
    .logo h1{
        font-size: 2.5rem;
    }
    .hamburger {
        display: block;
    }

    .navLinkContainer {
        display: none;
    }


     .home {
        height: 80vh;
        /* display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        /* text-align: center;  */
    }

    .introduction {
        gap: 1rem;
    } 

    .intro_heading{
        font-size: 3.4rem;
    }

    .handwave--image {
        height: 3.5rem;
    }
    .profession{
        font-size: 2rem;
    }
    .profile_picture {
        display: none
    }

    .about_heading{
        font-size: 2.5rem;
    }
    .about_content{
        padding-top: 1rem;
        font-size: 1.8rem;
    }
    
    /* Project Section */

    .section_name{
        font-size: 3rem;
    }
    .project_item:nth-child(even) .project_description{
        flex-direction: column-reverse;
    }
    .project_description{
        flex-direction: column-reverse;
        gap: 2rem;
        /* margin-block-start: 2rem; */
    }

    .project_item{
        gap: 2rem;
    }
    .project_content{
        align-items: center;
    }
    .project_info,
    .technology,
    .link_button{
        font-size: 1.8rem;
    }
    .technology{
        color: #66FCF1;
    }
    .contact_heading{
        font-size: 2.5rem;

    }

    .footer{
        gap: 1rem;
        padding: 1.5rem;
        flex-direction: column;
        text-align: center;
    }
    .iconimage{
        width:3rem
    }
    .contact_subheading{
        /* padding-top: 1rem; */
        font-size: 1.8rem;
    }

    .fa-brands{
        font-size: 3rem;
    }
    
    .social_media{
    /* padding-top: 1rem;     */
    }

}

@media (max-width: 1050px){
    
    .addBreak{
        display: inline;
    }

    .profile_picture{
        object-fit: contain;
    }
    .project_list{
        align-items: center;
    }
    .project_item:nth-child(even) .project_description{
        flex-direction: column-reverse;
    }
    .project_description{
        flex-direction: column-reverse;
        gap: 2rem;
        /* margin-block-start: 2rem; */
    }
    .project_item{

        max-width: 60rem;
    }
}